.item-containers{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.item-container{
    display: flex;
    align-items: center;
    width: 1100px;
    height: 100px;
    font-family: monospace;
}
.item-container p{
    margin-left: 40px;
    font-size: 20px;
    font-weight: bold;
}
.total_price_and_buy span{
    margin-left: 90px;
    font-weight: bold;
    font-size: 20px;
    
}
.item-char{
    width: 400px;
    position: absolute;
    right: 0;
    flex-wrap: wrap;
    margin-right: 150px;
    font-weight: bold;
    font-size: 20px;
}
.item_price{
    margin-top: -25px;
}
.minus-btn{
    width: 16px;
    height: 16px;
    color: red;
    border: 1px solid;
    background-color: transparent;
    border-radius: 3px;
}
.plus-btn{
    width: 16px;
    height: 16px;
    color: green;
    border: 1px solid;
    background-color: transparent;
    border-radius: 3px;
}
.item_price{
    position: absolute;
    right: 0;
    margin-right: 60px;
}
.delete-btn{
    position: absolute;
    right: 0;
    margin-right: 95px;
    width: 90px;
    height: 40px;
    background-color: #FF0000;
    color: white;
    border: none;
    border-radius: 13px;
    font-weight: bold;
    margin-top: -20px;
}
.total_price_and_buy{
    position: absolute;
    right: 0;
    font-weight: bold;
    margin-right: 80px;
}
.buy-btn{
    width: 120px;
    height: 40px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 13px;
    margin-bottom: 40px;
    font-weight: bold;
}
.total_price_and_buy span{
    font-weight: bold;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    margin-right: 40px;
}