{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stacbucks</title>
</head>
<body>

    <link rel="stylesheet" href="{% static 'style.css' %}?v=6">

    <nav class="top-bars">
        <div class="left_bar">
            <img src="{% static 'images/starbucks_icon.jpeg' %}" alt="starbucks icon">
            <ul>
                <li><a href="{% url 'core:menu-content'%}" class="menu">MENU</a></li>
                <li><a href="" class="rewards">REWARDS</a></li>
                <li><a href="" class="gift_cards">GIFT CARDS</a></li>
            </ul>
        </div>

        <div class="right_bar">
            <button class="goToCart"><a href="{% url 'core:cart' %}" class="btn">Go to Cart</a>
            </button>

            {% if user.is_authenticated %}
                <span style="font-weight: bold;">👤 {{ user.username }}</span>
                <form method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button id="logout">Log out</button>
                </form>
            {% else %}
                <button id="join_now"><a href="{% url 'registration'%}">Register</a></button>
                <button id="sign_in"><a href="{% url 'login'%}">Log in</a></button>
            {% endif %}
        </div> 
    </nav>



    {% block menu_menu_content %}{% endblock %}


</body>
</html>